// *------------------------------------*\
// Main Style
// *------------------------------------*/

// TOOLS
@import 'tools/_all';


// SETTINGS
@import 'settings/_all';


// GENERIC
@import 'generic/_all';


// VENDOR
@import 'vendor/_all';


// ELEMENTS
@import 'elements/_all';


// OBJECTS
@import 'objects/_all';


// Components
@import 'components/_all';


// TRUMPS
@import 'trumps/_all';

/*.highlighter-rouge {
	background-color: #6f6f6f;
    color: white;
    border-radius: 4px;
    padding: 1px 4px;
}

.highlighter-rouge .highlight {
	background-color: #FAFAFA;
    color: #323232;
}*/

.c-content a:not(.c-btn){
	text-decoration: none;
	color: #ff0000
}