/*------------------------------------*\
  Elements > Page
\*------------------------------------*/

body {
  color: $color-text;
  font-size: $font-size-medium;
  font-family: $font-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;

  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

*::selection {
  color: $color-white;
  background: $color-brand;
}